body{
    background: linear-gradient(117deg, #93A4FF 0%, #432AA6 83.8%, #602BB7 83.81%, #2D5EA7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.box-container{
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px  20px rgba(0, 0, 0, 0.4);
    padding: 42px;
    border-radius: 10px;

}
.menu {
    display: flex;
    justify-content: center;
    height: 20px;
    gap: 10px;
    
}
.img-Status{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.img-Status span:not(#city){
    color: #FFF;
    font-family: Inter;
    font-size: 59px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#city{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    margin-top: 20px;
}
select {
    width: 100%;
    
}
p, span {
    display: inline-block;
    
}
.Wind, .humidity{
    display: flex;
    align-items: center;
    gap: 10px;

}
.Wind-speed,  .humidity-test{
    
    display: flex;
    flex-direction: column;
    
}

