html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}
.background img {
    width: 1440px;
    height: 806px;
    flex-shrink: 0;
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;
    filter: blur(0.3px);
    position: sticky;
}
.weather-info{
    position: absolute;
    display: flex;
    top: 65%;
    color: aliceblue;
    width: 100%;
    padding-left: 116px;
}
#degree{
    color: #FFF;
    font-family: Roboto;
    font-size: 143px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -11.44px;
}
#City-name{
    color: #FFF;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
}
#current-datetime{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
    
}
.mix{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 37px;
}
#svg-current{
    margin-top: 20px;
    margin-left: 10px;
}
.info-container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 80vh;
    max-height: 100vh;
    height: 700px;
    flex-shrink: 0;
    box-shadow: 0px 4px 10px rgba(79, 78, 78, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.14);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(9.5px);
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}
.info-container::-webkit-scrollbar {
    width: 10px;
}
.input-search{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    

}
.input-search input{
    appearance: none;
    background-color: transparent; 
    border: none;                 
    outline: none;   
    font-size: 16px; 
    color: #FFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);;
    width: 350px;
    height: 50px;
    

}
.input-search input::placeholder{
    color: rgba(255, 255, 255, 0.70);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.input-search a{
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    
}
.title1{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-top: 37px;
}
#status{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    width: 354px;
    letter-spacing: 1px;
    margin-left: 50px;
    display: flex;
}
.components{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}
.components div{
    display: inline-flex;
    justify-content: flex-start;
    margin-left: 70px;
}
.components span{
    margin-top: 16px;
    margin-left: 194px;
    display: inline;
}
.components svg{
    margin-top: 10px;
    margin-left: 10px;
}
.components p, span{
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.line{
    width: 350px;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 1px solid #FFF;
}
.daily-day{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.title2{
    margin-top: 37px;;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}
.first, .second{ 
    display: flex;
    justify-content: center;
    margin-left: 0;
    gap: 13px;
}
.first div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.70);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.temp-2{
    margin-left: 200px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#Country-name{
    margin-left: 67px;
    margin-bottom: 5px;
}