html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.background img {
    width: 1440px;
    height: 806px;
    flex-shrink: 0;
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;
    position: sticky;
}
.weather-info{
    position: absolute;
    display: flex;
    top: 60%;
    color: aliceblue;
    width: 100%;
    padding-left: 116px;
}
#degree{
    color: #FFF;
    font-family: Roboto;
    font-size: 143px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -11.44px;
}
#City-name{
    color: #FFF;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
    letter-spacing: 4px;
}
#current-datetime{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
    
}
.mix{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 37px;
}
#svg-current{
    margin-top: 20px;
    margin-left: 10px;
}
.info-container{
    box-sizing: border-box;
    position:absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: max-content;
    flex-shrink: 0;
    box-shadow: 0px 4px 10px rgba(79, 78, 78, 0.7);
    border-left:  rgba(255, 255, 255, 0.14);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(9.5px);
    border-radius: 15px;
}
.input-search{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    

}
.input-search input{
    appearance: none;
    background-color: transparent; 
    border: none;                 
    outline: none;                             
    font-size: 16px; 
    color: #FFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);;
    width: 350px;
    height: 50px;
    

}
.input-search input::placeholder{
    color: rgba(255, 255, 255, 0.70);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.input-search a{
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    
}
.title1{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    margin-left: 33px;
}
#status{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    width: 354px;
    letter-spacing: 1px;
    margin-left: 33px;
    display: flex;
}
.components{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.components div{
    display: inline-flex;
    justify-content: flex-start;
    margin-left: 33px;
}
.components span{
    margin-top: 16px;
}
.components svg{
    margin-top: 10px;
}
